/* general */

body {
    background-color:   rgb(125, 141, 87);
}

.header {
    font-size: 60px;
    font-weight: bold;
}

h1 {
    background-color: black;
    width: 25%;
    color: rgb(202, 202, 155);
    margin: 1%;
    text-align: center;
    padding: 10px;
}

.instructions {
    font-size: 16px;
}

p {
    background-color: black;
    width: 60%;
    color: rgb(202, 202, 155);
    margin: 1%;
    text-align: left;
    padding: 10px;
}

#rdmnbr {
    margin-left: 1.65%;
    height: 125px;
    position: relative;
    float: left;
    width: 25%;
    font-size: 18px;
    background-color: black;
    color: rgb(202, 202, 155);
    padding: 10px;
    line-height: 50px;
}

h3 {
    font-size: 18px;
}

.winloss {
    margin-left: 2%;
    height: 125px;
    position: relative;
    float: left;
    font-size: 24px;
    background-color: black;
    width: 20%;
    color: rgb(202, 202, 155);
    text-align: left;
    padding: 10px;
    line-height: 50px;

}

h4{
    font-size: 18px;
}
.score {
    margin-left: 1.65%; 
    margin-top: 1%;
    height: 65px;
    position: relative;
    float: left;
    background-color: black;
    width: 25%;
    color: rgb(202, 202, 155);
    text-align: left;
    padding: 10px;
    line-height: 50px;

}

.crystals {
    margin-top: 1%;
    margin-left: 1.65%;
    height: 150px;
}

.img-1 {
    height: 100%;

}

.img-2 {
    height: 100%;
    margin-left: 10px;

}

.img-3 {
    height: 100%;
    margin-left: 10px;

}

.img-4 {
    height: 100%;
    margin-left: 10px;

}

.usrnbr {
    margin-left: 1.65%; 
    margin-top: 1%;
    height: 100px;
    position: relative;
    float: left;
    background-color: black;
    width: 25%;
    color: rgb(202, 202, 155);
    text-align: left;
    padding: 10px;
    line-height: 50px;

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }